/** @format */

/* ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  color: white;
  background-color: #ffb344;
  font-weight: bold;
} */
.notification {
  position: relative;
  top: -142px;
  left: 1400px;
}
.navbar {
  position: absolute;
  top: 8px;
  padding-left: 34%;
}
.logo {
  position: relative;
  top: 20px;
  left: 118px;
}
/* h6
{
   position: relative;
   top: -18px;
   padding-left: 174px;
} */

.col {
  flex: none;
  width: calc(25% - 50px);
  margin-left: 50px;
  margin-bottom: 20px;
}
.card {
  width: 100%;
}
.container_1 {
  display: flex;
  flex-wrap: wrap;
  margin-left: -50px;
  margin-top: 30px;
}
img {
  height: 100%;
}
p.card-text {
  margin-bottom: 0px;
}
.card-body {
  background-color: blanchedalmond;
}
.btt {
  width: 150px;
  height: 40px;
  margin-top: 10px;
  background-color: orange;
  border-radius: 10px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}
.btt:hover {
  color: white;
  background-color: orangered;
}
